 <div class="container">
 <%= render "search_form" %>
  <div class="home-index-cards">
    <% @flats.each do |flat| %>
      <div>
        <% if flat.photo.attached? %>
          <div class="home-index-card" style="background-image: url('<%= cl_image_path flat.photo.key, height: 400, width: 320, crop: :fill %>')">
          </div>
          <% end %>
          <div py-5>
            <h5 class="card-title pt-2 text-center text-decoration-none"><strong><%= link_to flat.name, flat_path(flat) %></strong></h5>
            <p class="card-text text-center py-1"><%= flat.address %></p>
            <p class="card-text text-center py-1"><%= flat.description %></p>
          </div>

      </div>
    <% end %>
  </div>
  <div style="width: 100%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
