<div class="container" >

  <h2> <%= @flat.name %> </h2>
  <%= cl_image_tag @flat.photo.key, height: 300, width: 400, crop: :fill %>
  <p>Location: <%= @flat.address %></p>
  <p><%= @flat.description %> </p>

  <%= button_to "Destroy this flat", @flat, method: :delete if policy(@flat).destroy? %>

</div>
