
<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <h5>Reservation at: <%= @flat.name %> (<%= @flat.address %>)</h5>
      <h5>For: <%= @reservation.user.first_name %> <%= @reservation.user.last_name %></h5>
      <div class="bg-white rounded p-3 shadow">
        <%= simple_form_for @reservation do |f| %>
          <%= f.input :check_in, disabled: true%>
          <%= f.input :check_out, disabled: true%>
          <%= f.input :confirmation_status, disabled: true%>
          <% if @reservation.confirmation_status == "confirmed"%>

            <%= f.input :payment_status, label: :Pagar%>
          <% else %>
            <p>Owner must confirm the reservation first</p>
            <%= f.input :payment_status, label: :Pagar, disabled: true%>
          <% end %>
          <%= f.submit %>
        <% end %>
        <%# <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          Launch demo modal
        </button> %>
      </div>
    </div>
  </div>
</div>




<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
